{% extends 'CustomRDBundle::layout.html.twig' %}

{% block body %}
<!-- Main -->
<div id="main">

    <!-- Header -->
    <header>
        <span class="logo"></span>
        <h1><strong>Elemental</strong> by Pixelarity</h1>
    </header>

    <!-- Banner -->
    <section class="banner">
        <h2>BIENVENUE<br />
            sur le custom RD des heros</h2>
    </section>

    <!-- One -->
    <section id="one" class="wrapper spotlight">
        <div class="content">
            <div class="inner">
                <h2>Authentication</h2>
                {#<form method="post" action="#">#}
                {{ form_start(form, {'method': 'POST'}) }}
                    <div class="row uniform">
                        <div class="12u$">
                            <label for="demo-name">Token</label>
                            {{ form_widget(form.token) }}
                            {#<input type="text" name="demo-name" id="demo-name" value="" />#}
                        </div>
                    </div>
                <ul class="actions">
                    {#<li><a href="#" class="button">Validate</a></li>#}
                    {{ form_widget(form.validate) }}
                </ul>
                {{ form_end(form) }}
            </div>
        </div>
        <ul class="grid-icons">
            <li>
                <div class="inner">
                    <span class="icon fa-cog major"></span>
                    <h3>Sed tempus</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-desktop major"></span>
                    <h3>Aenean lorem</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-signal major"></span>
                    <h3>Felis aliquam</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-check major"></span>
                    <h3>Dui volutpat</h3>
                </div>
            </li>
        </ul>
    </section>

</div>

{% endblock %}