{% extends 'CustomRDBundle::layout.html.twig' %}

{% block body %}
<!-- Main -->
<div id="main">

    <!-- Header -->
    <header>
        <span class="logo"></span>
        <h1><strong>Elemental</strong> by Pixelarity</h1>
    </header>

    <!-- Banner -->
    <section class="banner">
        <h2>BIENVENUE<br />
            sur le custom RD des heros</h2>
    </section>

    <!-- One -->
    <section id="one" class="wrapper spotlight">
        <div class="content">
            <div class="inner">
                <h2>Lien</h2>
                {#<form method="post" action="#">#}
                <p>Lien débridé :</p>
                <a href="{{ link.download }}">{{ link.download }}</a>
                <ul class="actions">
                    {#<li><a href="#" class="button">Validate</a></li>#}
                </ul>
            </div>
        </div>
        <ul class="grid-icons">
            <li>
                <div class="inner">
                    <span class="icon fa-cog major"></span>
                    <h3>Sed tempus</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-desktop major"></span>
                    <h3>Aenean lorem</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-signal major"></span>
                    <h3>Felis aliquam</h3>
                </div>
            </li>
            <li>
                <div class="inner">
                    <span class="icon fa-check major"></span>
                    <h3>Dui volutpat</h3>
                </div>
            </li>
        </ul>
    </section>

</div>

{% endblock %}